*{box-sizing:border-box;}
html{
   scroll-behavior:smooth;
   animation: ease-in-out appear 2s;
}
body{
  width:100%;
  margin:0px;
  padding:0px;
}

.capitalize{
  text-transform:uppercase;
}

section{
  min-height:90vh;
}

.divider{
  max-width:300px;
  margin: 30px auto;
}

h4{line-height:70%;}
h4>small{
  font-size:50%;
}

section a,footer a{
  color:inherit;
  text-decoration:none;
}

footer a:hover{
  color: #343434;
}


blockquote{
  width:fit-content;
  margin:auto !important;
   border-left: 5px solid #4db6ac !important;
}

div.card>.card-image>img{
  height:260px;
  object-fit: cover;
}
div.card>.card-content{
  min-height:160px;
}

ul#nav-mobile{
  width:90%;
  margin:auto 5%;
  display:flex;
  justify-content:space-around;
}

.card span.card-title{
    background-color: #34343445;
    /* background-color: #eeeeee45; */
    color:black;
    border-radius: 30px 30px 0px 0px;
    backdrop-filter: blur(3px);
    line-height: 15px;
    width:100%
}

nav.white.z-depth-0{
  z-index:100;
  position:sticky;
  top:0px;
  left:0px;
}

nav>.nav-wrapper>ul>li>a{
  transition:.4s;
}
nav>.nav-wrapper>ul>li>a:hover{
    background-color: #fff;
    color: #4db6ac !important;
}


@keyframes appear{
    from{
        opacity:0;
    }to{
        opacity:1;
    }
}